* {
  font-family: century gothic, Helvetica, sans-serif;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#26402d), color-stop(#b6cabb), color-stop(#ffe6ff), color-stop(#b6cabb), to(#26402d));
  background-image: linear-gradient(#26402d, #b6cabb, #ffe6ff, #b6cabb, #26402d);
  margin: auto;
}

h1, h2, h3 {
  color: #26402d;
  font-weight: bold;
  margin-bottom: 0.0625em;
  margin-top: 0.0625em;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-bottom: 0.3125em;
  width: 95%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-container, .menu-container, .main-container, .test, .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-bottom: 0.3125em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  background-color: #b6cabb;
}

.header-container {
  background: url("../images/header.jpg") center center;
  background-size: cover;
}

.header-container .test {
  border: solid 0.0625em #26402d;
  border-radius: 0.20em;
  margin: 0.3125em;
  padding: 0.3125em;
  border: none;
  width: 98%;
  background-color: rgba(255, 255, 255, 0.3);
}

.header-container .test .en-tete {
  width: 75%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  color: #26402d;
  text-shadow: #b6cabb 4px 4px;
}

.menu-container .menu {
  width: 30%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border: solid 0.0625em #26402d;
  border-radius: 0.20em;
  margin: 0.3125em;
  padding: 0.3125em;
  background-color: #d9d3b8;
  text-align: center;
}

.menu-container .menu a {
  display: block;
  text-decoration: none;
  color: #26402d;
  font-weight: bold;
}

.menu-container .menu a:hover {
  background-color: #d9d3b8;
}

.main-container .section-container {
  background-color: #d9d3b8;
  width: 75%;
  border: solid 0.0625em #26402d;
  border-radius: 0.20em;
  margin: 0.3125em;
  padding: 0.3125em;
}

.main-container .section-container article {
  padding: 0.625em;
}

.main-container .section-container article p {
  text-align: justify;
  margin-bottom: 0,0625em;
}

.main-container .section-container h1 {
  font-size: 2em;
}

.main-container .section-container h2 {
  font-size: 1.5em;
}

.main-container .aside-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-bottom: 0.3125em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #d9d3b8;
  width: 25%;
  border: solid 0.0625em #26402d;
  border-radius: 0.20em;
  margin: 0.3125em;
  padding: 0.3125em;
  margin-left: 0;
}

.main-container .aside-container h3 {
  margin-bottom: 0.625em;
}

.main-container .aside-container a {
  text-decoration: none;
  color: #26402d;
}

.main-container .aside-container a:hover {
  background-color: #b6cabb;
}

.footer-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.footer-container .address-container {
  border: solid 0.0625em #26402d;
  border-radius: 0.20em;
  margin: 0.3125em;
  padding: 0.3125em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d9d3b8;
}

.footer-container .address-container p {
  color: #26402d;
  text-align: center;
}

.footer-container .address-container .socialmedia-container {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .page-container {
    width: 98%;
  }
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 96%;
    margin: auto;
  }
  .header-container .test {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 96%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header-container .test .en-tete {
    width: 98%;
    margin: auto;
    font-size: 2em;
    text-align: center;
  }
  .header-container .test .logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .menu-container, .main-container, .footer-container {
    width: 96%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-container .menu, .main-container .menu, .footer-container .menu {
    width: 96%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container .section-container {
    background-color: #d9d3b8;
    width: 96%;
    border: solid 0.0625em #26402d;
    border-radius: 0.20em;
    margin: 0.3125em;
    padding: 0.3125em;
  }
  .main-container .section-container article {
    padding: 0.625em;
  }
  .main-container .section-container article p {
    text-align: justify;
  }
  .main-container .section-container article h1 {
    font-size: 1.25em;
  }
  .main-container .section-container article h2 {
    font-size: 1em;
  }
  .main-container .aside-container {
    width: 96%;
    border: solid 0.0625em #26402d;
    border-radius: 0.20em;
    margin: 0.3125em;
    padding: 0.3125em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-container {
    width: 96%;
  }
  .footer-container .address-container {
    width: 96%;
  }
}
/*# sourceMappingURL=main.css.map */